version: '3.8'
services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      DB_URL: ${DATABASE_URL}
    ports:
      - '5432:5432'
    expose:
      - 5432
    volumes:
      - docker-postgres:/var/lib/postgresql/data

  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - /path/to/local/d–∞ta:/root/redis
    environment:
      - REDIS_PORT={REDIS_PORT}
      - REDIS_HOST={REDIS_HOST}

  node-server:
    build: .
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USERNAME: root
      DB_PASSWORD: admin
      DB_DATABASE: test
      REDIS_HOST: redis
      REDIS_PORT: '6379'
      DATABASE_URL: postgresql://${DB_USERNAME}:${DB_PASSWORD}@postgres:${DB_PORT}/${DB_DATABASE}
    depends_on:
      - postgres
      - redis

volumes:
  redis:
    driver: local
  docker-postgres:
